In [1]:
import os
import sys
parent_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(parent_dir)
from pathlib import Path
import pandas as pd
import numpy as np

from data_generation.simulations.grid import Grid, logistic_transformation
from data_generation.simulations.grid import fractional_transformation as frac_transformation
from data_preparation import prepare_data

In [2]:
db_name = os.path.join(parent_dir, 'datasets', 'raw', 'simulation_results_test.db')
table_name = 'TechnologySubstitution_gamma2'  
run_ids = ['20250207_163214','20250210_104559']

In [3]:
df, configs_dict = prepare_data(db_name, table_name, run_ids)
df

All configurations are the same: True

,run_id,trajectory_id,t0,t1,x,y,c,x_cell,y_cell
0,20250207_163214,0-0_0,0.0,0.1,"[0.1250689742096012, 0.4087989881926171]","[0.1251229675261924, 0.44597242018940586]","(0.5,)","(0, 0)","(0, 0)"
1,20250207_163214,0-0_0,0.1,0.2,"[0.1251229675261924, 0.44597242018940586]","[0.1251690213937246, 0.48514959447057987]","(0.5,)","(0, 0)","(0, 0)"
2,20250207_163214,0-0_0,0.2,0.3,"[0.1251690213937246, 0.48514959447057987]","[0.1252085418814102, 0.5262362973312079]","(0.5,)","(0, 0)","(0, 1)"
3,20250207_163214,0-0_0,0.3,0.4,"[0.1252085418814102, 0.5262362973312079]","[0.12524242138681085, 0.5691362309165182]","(0.5,)","(0, 1)","(0, 1)"
4,20250207_163214,0-0_0,0.4,0.5,"[0.12524242138681085, 0.5691362309165182]","[0.1252714474991935, 0.6137563853304127]","(0.5,)","(0, 1)","(0, 1)"
...,...,...,...,...,...,...,...,...,...
14695,20250210_104559,6-6_2,4.5,4.6,"[22.570249312840353, 135.96703837240835]","[22.57028286441157, 136.0627549647216]","(0.5,)","(6, 6)","(6, 6)"
14696,20250210_104559,6-6_2,4.6,4.7,"[22.57028286441157, 136.0627549647216]","[22.570316357690512, 136.15847309624388]","(0.5,)","(6, 6)","(6, 6)"
14697,20250210_104559,6-6_2,4.7,4.8,"[22.570316357690512, 136.15847309624388]","[22.570349792818043, 136.25419276530724]","(0.5,)","(6, 6)","(6, 6)"
14698,20250210_104559,6-6_2,4.8,4.9,"[22.570349792818043, 136.25419276530724]","[22.570383169934594, 136.3499139702466]","(0.5,)","(6, 6)","(6, 6)"
14699,20250210_104559,6-6_2,4.9,5.0,"[22.570383169934594, 136.3499139702466]","[22.570416489180154, 136.4456367094001]","(0.5,)","(6, 6)","(6, 6)"

In [4]:
# Count transitions from (x_cell, c0) â†’ y_cell
df.groupby(["x_cell", "c"])["y_cell"].value_counts().unstack(fill_value=0)
df.groupby(["x_cell", "c"])["y_cell"].value_counts().unstack(fill_value=0).sum(axis=1)

x_cell  c
(0, 0)  (0.5,)     26
(0, 1)  (0.5,)    125
(0, 2)  (0.5,)    253
(0, 3)  (0.5,)    453
(0, 4)  (0.5,)    555
(0, 5)  (0.5,)    383
(0, 6)  (0.5,)    305
(1, 0)  (0.5,)     30
(1, 1)  (0.5,)    128
(1, 2)  (0.5,)    235
(1, 3)  (0.5,)    454
(1, 4)  (0.5,)    450
(1, 5)  (0.5,)    425
(1, 6)  (0.5,)    329
(2, 0)  (0.5,)    104
(2, 1)  (0.5,)     73
(2, 2)  (0.5,)    180
(2, 3)  (0.5,)    328
(2, 4)  (0.5,)    462
(2, 5)  (0.5,)    411
(2, 6)  (0.5,)    356
(3, 0)  (0.5,)    186
(3, 1)  (0.5,)    130
(3, 2)  (0.5,)    158
(3, 3)  (0.5,)    375
(3, 4)  (0.5,)    480
(3, 5)  (0.5,)    446
(3, 6)  (0.5,)    310
(4, 0)  (0.5,)    285
(4, 1)  (0.5,)    176
(4, 2)  (0.5,)    203
(4, 3)  (0.5,)    340
(4, 4)  (0.5,)    433
(4, 5)  (0.5,)    372
(4, 6)  (0.5,)    300
(5, 0)  (0.5,)    388
(5, 1)  (0.5,)    321
(5, 2)  (0.5,)    151
(5, 3)  (0.5,)    289
(5, 4)  (0.5,)    464
(5, 5)  (0.5,)    365
(5, 6)  (0.5,)    312
(6, 0)  (0.5,)    316
(6, 1)  (0.5,)    311
(6, 2)  (0.5,)    300
(6, 3)  (0.5,)    266
(6, 4)  (0.5,)    277
(6, 5)  (0.5,)    381
(6, 6)  (0.5,)    300
dtype: int64